node_modules/

data/*.log
data/*.sqlite
data/*.sqlite-*
data/*.db
data/monitor.db
!data/.gitkeep

.tmp_bundle_scan/
.tmp_chrome_profile/
.tmp_edge_profile/
.tmp_profiles/

*.png
*.jpg
*.jpeg
*.webp
*.html
*.txt

*.lnk

npm-debug.log*
yarn-debug.log*
yarn-error.log*

